/home/.config/GIMP/2.10/action-history
/home/.config/GIMP/2.10/colorrc
/home/.config/GIMP/2.10/sessionrc
/home/.config/GIMP/2.10/tags.xml
/home/.config/GIMP/2.10/controllerrc
/home/.config/GIMP/2.10/devicerc
/home/.config/GIMP/2.10/menurc
/home/.config/GIMP/2.10/tool-options

/home/.config/pcmanfm/default/pcmanfm.conf
